{% extends "layouts/default.njk" %}

{% set DOC_TITLE = "Components: Pagination" %}
{% set BASE_HREF = "./" %}
{% set BODY_CLASS = "fixed-navbar" %}

{% block main %}
<div class="main-content">
   <div class="row">
      <div class="col mb-3">
         <div class="d-flex">
            <h2 class="main-content__title">{{DOC_TITLE}}</h2>
         </div>
      </div><!-- /.col -->
   </div><!-- /.row -->
   <div class="row">
      <div class="col">
         <div class="box">
            <div class="box__wrapper">
               <div class="box__header">
                  <h3 class="box__title">Basic configuration</h3>
                  <div class="box__action">
                     <button class="button button--link js-button-reload">
                        <i data-feather="rotate-cw"></i>
                     </button>
                     <button class="button button--link js-button-expand">
                        <i data-feather="maximize"></i>
                     </button>
                  </div>
               </div>
               <div class="box__body box__body--spacy">
                  <p class="box__text">Tambahkan class <code class="language-css">"pagination-lg"</code> untuk pagination big dan class <code class="language-css">"pagination-sm"</code> untuk pagination small.</p>
                  <div class="highlight">
                     <p class="box__text">Pagination Big</p>
                     <nav>
                        <ul class="pagination pagination-lg">
                           <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i data-feather="chevron-left" class="icon-feather"></i></a></li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">5</a></li>
                           <li class="page-item active"><a class="page-link" href="#" ><i data-feather="chevron-right" class="icon-feather"></i></a></li>
                        </ul>
                     </nav>
                     <p class="box__text">Pagination Normal</p>
                     <nav>
                        <ul class="pagination">
                           <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i data-feather="chevron-left" class="icon-feather"></i></a></li>
                           <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item active"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">5</a></li>
                           <li class="page-item active"><a class="page-link" href="#" ><i data-feather="chevron-right" class="icon-feather"></i></a></li>
                        </ul>
                     </nav>
                     <p class="box__text">Pagination Small</p>
                     <nav>
                        <ul class="pagination pagination-sm">
                           <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i data-feather="chevron-left" class="icon-feather"></i></a></li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">5</a></li>
                           <li class="page-item active"><a class="page-link" href="#" ><i data-feather="chevron-right" class="icon-feather"></i></a></li>
                        </ul>
                     </nav>
                  </div>  
<div class="language-html">
<pre><code>&lt;nav>
   &lt;ul class="pagination">
      &lt;li class="page-item disabled">&lt;a class="page-link" href="#" tabindex="-1">1&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">2&lt;/a>&lt;/li>
      &lt;li class="page-item active">&lt;a class="page-link" href="#">3&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">4&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">5&lt;/a>&lt;/li>
   &lt;/ul>
&lt;/nav>
</code></pre>
</div>
               </div>
            </div>
         </div>
      </div> <!-- /.col -->
   </div><!-- /.row -->
   <div class="row">
      <div class="col">
         <div class="box">
            <div class="box__wrapper">
               <div class="box__header">
                  <h3 class="box__title">Custom configuration</h3>
                  <div class="box__action">
                     <button class="button button--link js-button-reload">
                        <i data-feather="rotate-cw"></i>
                     </button>
                     <button class="button button--link js-button-expand">
                        <i data-feather="maximize"></i>
                     </button>
                  </div>
               </div>
               <div class="box__body box__body--spacy">
                  <div class="highlight">
                     <nav>
                        <ul class="pagination pagination--alt justify-content-center">
                           <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1"><i data-feather="chevron-left" class="icon-feather"></i> Previous</a></li>
                           <li class="page-item active"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item"><a class="page-link" href="#">4</a></li>
                           <li class="page-item"><a class="page-link" href="#">5</a></li>
                           <li class="page-item"><a class="page-link" href="#">6</a></li>
                           <li class="page-item"><a class="page-link" href="#">7</a></li>
                           <li class="page-item"><a class="page-link" href="#">8</a></li>
                           <li class="page-item"><a class="page-link" href="#">Next <i data-feather="chevron-right" class="icon-feather"></i></a></li>
                        </ul>
                     </nav>
                  </div>  
<div class="language-html">
<pre><code>&lt;nav>
   &lt;ul class="pagination pagination--alt justify-content-center">
      &lt;li class="page-item disabled">&lt;a class="page-link" href="#" tabindex="-1">&lt;i data-feather="chevron-left" class="icon-feather">&lt;/i> Previous&lt;/a>&lt;/li>
      &lt;li class="page-item active">&lt;a class="page-link" href="#">1&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">2&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">3&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">4&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">5&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">6&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">7&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">8&lt;/a>&lt;/li>
      &lt;li class="page-item">&lt;a class="page-link" href="#">Next &lt;i data-feather="chevron-right" class="icon-feather">&lt;/i>&lt;/a>&lt;/li>
   &lt;/ul>
&lt;/nav>
</code></pre>
</div>
               </div>
            </div>
         </div>
      </div> <!-- /.col -->
   </div><!-- /.row -->
   {% include "components/_footer.njk" %}
</div>
{% endblock %}