{% extends "layouts/authentication.njk" %}
{% set DOC_TITLE = "Forgot Password Page" %}
{% set BASE_HREF = "./" %}
{% set BODY_CLASS = "page-auth" %}
{% block main %}
<div class="auth-dialog">
   <div class="auth-dialog__box">
      <div class="auth-dialog__box-header">
         <span class="icon icon--new-cp-logo-white-big auth-dialog__logo"></span>
         {# <svg class="auth-dialog__logo">
            <use xlink:href="#new-cp-logo-white"></use>
         </svg> #}
      </div>
      <div class="auth-dialog__box-body">
         <div class="auth-dialog__text">
            Please enter your E-mail address. You will receive a link to create a new password via email.
         </div>
         <div class="feedback feedback--alt"></div>
         <form action="#" class="form-login form-reactivation">
            <div class="form-login__field">
               <div class="form-login__input-group">
                  <input type="text" id="inputEmail" name="forgot-account" class="form-login__input" spellcheck="false" required autocomplete="off">
                  <label for="inputForgotAccount">Input Email Address</label>
                  <span class="bar"></span>
               </div>
            </div>
            <div class="form-login__button">
               <button type="submit" class="button button--block button--primary" id="buttonLogin" disabled>Submit</button>
            </div>
         </form>
      </div>
   </div>
   <div class="auth-dialog__footer">
      <ul class="auth-dialog__links">
         <li><a href="./index.html" title="Back to Login Form">Login</a></li>
         <li><a href="#" data-toggle="modal" data-target="#privacyModal" title="Privacy Policy">Privacy Policy</a></li>
         <li><a href="#" data-toggle="modal" data-target="#legalModal" title="Terms of Use">Terms of Use</a></li>
      </ul>
      <p class="auth-dialog__copy">&copy; Copyright 2019. <a href="http://cyberprimatama.id" target="_blank" title="Cyberindo Primatama">Cyberindo Primatama</a>. All Right Reserved.</p>
   </div>
</div>
{% endblock %}