// ***********************************
// FORMS
// ***********************************

// hack autocomplete on chrome
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: white !important;
}

.form-login {
  padding: 60px 0;
  @include max-small {
    padding: 30px 0;
  }

  @include max-md-height {
    padding: 30px 0 30px;
  }

  &__field {
    margin-bottom: 30px;
  }

  &__input-group {
    position: relative;

    label {
      position: absolute;
      font-size: 1em;
      color: white;
      line-height: 20px;
      top: 10px;
      left: 0px;
      transition: left 100ms ease-out, top 100ms ease-out;
      cursor: pointer;
    }

    .bar {
      position: relative;
      background-color: $green-neon;
      display: block;

      &:before,
      &:after {
        position: absolute;
        bottom: 0;
        content: '';
        width: 0;
        height: 2px;
        background-color: $green-neon;
        transition: width 200ms ease-out;
      }

      &:before {
        left: 50%;
      }

      &:after {
        right: 50%;
      }
    }

    &.validation--visible ~ .feedback {
      display: inline-block;
    }

    &.validation--show ~ .feedback {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__input {
    width: 280px;
    background: none;
    height: 40px;
    padding: 10px 0px;
    border: 0;
    border-bottom: 1px solid rgba(#fff, 0.2);
    color: white;
    line-height: 20px;
    font-size: 1em;
    font-family: $font-family-light-alt;
    outline: none;
    @include max-small {
      width: 100%;
    }

    // hack autocomplete on chrome
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: white !important;
    }

    &:required {
      box-shadow: none;
    }

    &:focus ~ label,
    &:valid ~ label {
      font-size: 13px;
      top: -16px;
      left: 0px;
      color: $green-neon;
    }

    &:focus ~ .bar,
    &:valid ~ .bar {
      &:before,
      &:after {
        width: 50%;
      }
    }
  }

  &__button-peek {
    background: none;
    border: 0;
    box-shadow: none;
    color: white;
    outline: none;
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    outline: none;

    &:focus,
    &:active,
    &:focus:active {
      outline: none;
    }
  }

  &__icon-eye {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-out;
    stroke: white;
  }

  &__input-checkbox {
    display: none;

    &:checked ~ .form-login__check .icon-feather {
      opacity: 1;
      transform: scale(1);
      display: block;
      margin: auto;
      position: static;
    }
  }

  &__remember {
    margin-bottom: 60px;
    @include max-md-height {
      margin-bottom: 30px;
    }
    label {
      cursor: pointer;
      display: flex;
    }
  }

  &__check {
    position: relative;
    width: 20px;
    height: 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-right: 6px;
    display: inline-block;

    .icon-feather {
      width: 14px;
      text-align: center;
      height: 20px;
      margin: auto;
      display: block;
      opacity: 0;
      transform: scale(0.5);
      transition: opacity 200ms ease-out, transform 200ms ease-out;
      stroke: $green-neon;
      fill: none;
    }
  }

  &__text-label {
    color: white;
    display: inline-block;
    line-height: 20px;
    vertical-align: text-bottom;
  }
}

.checkbox {
  line-height: 0;
  padding: 4px 0;

  input {
    display: none;
  }

  label {
    margin: 0;
    line-height: 0;
    cursor: pointer;
  }

  &__span {
    width: 18px;
    top: 0px;
    height: 18px;
    line-height: 18px;
    background: white;
    position: relative;
    border: 2px solid #cfd8dc;
    border-radius: 4px;
    display: inline-block;
  }

  &__text {
    display: inline-block;
    font-family: $font-family-base;
    color: #555;
    vertical-align: top;
    padding-left: 6px;
    line-height: 18px;
    font-size: rem(15);
    transition: color 200ms ease-out;
  }

  .icon-feather {
    position: static !important;
    width: 14px;
    height: 14px;
    opacity: 0;
    transform: scale(0);
    margin: auto;
    display: block;
    z-index: 5;
    transition: opacity 200ms ease-out, transform 200ms ease-out;
  }

  input:checked ~ &__span > .icon-feather {
    opacity: 1;
    transform: scale(1);
  }

  // MODIFIER
  &--green {
    cursor: pointer;

    label {
      cursor: pointer;
    }

    .checkbox__span {
      background: #cfd8dc;
      border-radius: 2px;
    }

    input:checked ~ .checkbox__span {
      background: $green-400;
      border-color: $green-400;
    }

    input:checked ~ .checkbox__span + .checkbox__text {
      color: black;
    }

    input:checked ~ .checkbox__span > .icon-feather {
      opacity: 1;
      transform: scale(1);
      stroke: white;
      position: static;
      margin: auto;
      display: block;
    }
  }
}

.form-bulk {
  padding: 0px 20px 40px;
  margin-top: -76px;
  position: relative;
  z-index: 10;
  font-size: 0.875rem;

  .custom-select {
    @include max-medium {
      width: 100%;
    }
  }

  .button {
    box-shadow: none;
    height: 38px;
    @include max-medium {
      width: 100%;
      margin-top: 10px;
    }
  }

  @include max-medium {
    margin-top: 24px;
  }
}

.form {
  &--search {
    margin-bottom: 16px;
    @include small {
      margin-bottom: 0;
    }
    @include xlarge {
      margin-left: auto;
    }

    .form-control[type='text'] {
      padding: 9px;
      line-height: 24px;
      margin-bottom: 0;

      @include xlarge {
        width: 300px;
      }

      @include xxlarge {
        width: 500px;
      }
    }

    .form-row {
      margin: 0;
      width: 100%;
      @include small {
        width: auto;
      }
    }

    .button {
      margin-left: 5px;
      padding-top: 9px !important;
      padding-bottom: 9px !important;
      border: 1px solid transparent !important;
      margin-top: 8px;
      @include small {
        margin-top: 0;
      }
    }
  }

  &--space-x {
    padding: 0 40px;
  }

  &--more-space {
    padding: 40px;
  }

  &__col--more-space-right {
    padding-right: 80px;
  }

  &__display-flex {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .form-control {
      max-width: calc(100% - 80px);
    }

    label {
      display: inline-block;
      padding-right: 10px;
      min-width: 80px;
      font-family: $font-family-base !important;
      color: #555;
      font-size: rem(15);
    }
  }

  .answer-options {
    padding: 24px;
    background: #efefef;
    display: none;

    &.active {
      display: block;
      margin-top: 16px;
    }

    h3 {
      font-size: 16px;
      font-family: $font-family-bold;
    }

    .options {
      padding: 8px 0;

      &__list {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        margin-bottom: 16px;
      }

      .form-control {
        margin-right: 8px;
        margin-bottom: 0px;
        flex: 1 1 calc(100% - 360px);
        height: auto;
        padding: 8px;
      }

      .form-control:first-child {
        flex: 1 1 200px;
      }

      .button {
        flex: 0 0 auto;
        padding: 9px 8px;
        @include max-medium {
          width: auto;
        }
      }

      .invalid-feedback {
        width: 100%;
        flex: 0 0 100%;
      }
    }
  }

  label {
    font-size: 0.875rem;
    font-family: $font-family-bold;

    .required {
      color: red;
    }
  }

  &__permalink,
  &__info {
    font-size: 0.75rem;
    margin-top: 1em;
    color: #666;
  }

  &-group {
    margin-bottom: rem(24);
    position: relative;

    &--icon-right {
      .form-control {
        padding-right: 36px;
      }

      .form-icon {
        position: absolute;
        top: 50%;
        margin-top: 0;
        transform: translateY(-50%);
        right: 0;
      }

      .form-group__icon {
        position: absolute;
        right: 0px;
        top: 8px;
        padding-right: 10px;
        padding-left: 10px;

        svg {
          width: 16px;
          height: 16px;
          stroke: #999;
          display: block;
          margin: auto;
          position: static;
        }
      }
    }

    &--icon-left {
      .form-control {
        padding-left: 36px;
      }

      .form-icon {
        float: left;
      }
    }
  }

  &__group-text {
    font-family: $font-family-bold;
    font-size: rem(16);
    color: black;
    line-height: rem(24);
  }

  &__field-count {
    position: absolute;
    top: 12px;
    right: 3px;
    font-size: rem(11);
    font-style: italic;
  }

  &__desc-title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
  }

  &__desc-subtitle {
    font-size: 0.75rem;
    color: #999;
    margin-bottom: 0;
  }

  &__actions {
    text-align: right;
    line-height: 1;
    margin-left: auto;
  }

  &__action-flex {
    display: inline-flex;
    padding: 10px 20px 10px 36px;
    position: relative;
  }

  &__input-radio {
    display: none;

    &:checked ~ .form__label-radio {
      &:before {
        border: 3px solid $blue-500;
        background: transparent;
      }

      &:after {
        opacity: 1;
        width: 12px;
        height: 12px;
        transition: all 150ms 250ms ease-out;
      }
    }
  }

  &__label-radio {
    cursor: pointer;
    display: block;
    margin: 0;
    line-height: 24px;
    color: black;

    &:before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      margin-top: -12px;
      left: 0;
      top: 50%;
      border: 1px solid #e1e1e1;
      background-color: #f1f1f1;
      border-radius: 50%;
      transition: border 150ms ease-out, background-color 300ms ease-out;
    }

    &:after {
      content: '';
      position: absolute;
      left: 12px;
      top: 50%;
      width: 2px;
      height: 2px;
      opacity: 0;
      transform: translate(-50%, -50%);
      background-color: $blue-500;
      border-radius: 50%;
      transition: all 150ms 0ms ease-out;
    }
  }

  &__column {
    margin-bottom: 40px;
  }

  &__image {
    padding: 8px;
    border: 1px solid #e1e1e1;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 24px;

    img {
      width: 100%;
    }
  }

  &__title {
    font-size: rem(16);
    line-height: 1.5;
    font-family: $font-family-bold-alt;
    margin-bottom: rem(32);
    padding-bottom: rem(16);
    border-bottom: 1px solid #e9e9e9;
  }

  &__list {
    align-items: center;
    line-height: 24px;
    margin: 24px 0;
    font-size: rem(14);
    display: flex;
    flex-wrap: wrap;

    &--space-x {
      padding: 0 20px;
    }

    &--stripe {
      padding: 12px 0;
      margin: 12px 0;
      border-bottom: 1px solid #e1e1e1;

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &-control[readonly] {
    background: white;
  }

  &-control--inline-block {
    display: inline-block;
    width: auto;
  }
}

.toggle-switch {
  cursor: pointer;
  display: inline-block;
  padding-left: 1rem;
  line-height: 1;

  label {
    margin: 0;
  }

  input {
    display: none;
  }

  &__box {
    padding: 2px;
    height: rem(22);
    width: rem(38);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
  }

  &__switcher {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #ccc;
    display: block;
    transition: background-color 200ms 300ms ease-out, transform 150ms ease-out;
  }

  input:checked ~ .toggle-switch__box .toggle-switch__switcher {
    background-color: $blue-500;
    transform: translateX(16px);
  }
}

// Handles summernote
.note-editor.note-frame {
  border: 1px solid #ced4da;
}

.note-editor.note-frame.fullscreen {
  z-index: 9099;

  .note-toolbar-wrapper {
    display: none;
  }
}

.note-modal {
  z-index: 9999;
}

.note-editor.note-frame.codeview .note-editing-area .note-codable {
  display: block !important;
}

.note-editor.note-frame.codeview .note-editing-area .CodeMirror {
  display: none !important;
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-frame .note-editing-area p {
  color: #555;
  font-size: rem(15);
  line-height: rem(24);
}

.note-modal-header {
  padding: 20px 30px;

  .close {
    margin-top: 7px;
  }
}

.note-modal-title {
  font-family: $font-family-bold-alt;
  font-weight: normal;
}

.note-modal-footer {
  height: auto;
  text-align: right;
  padding: 20px 30px 30px;

  .note-btn {
    float: none;
    display: inline-block;
  }
}

.note-editor {
  .modal-header {
    display: block;
  }

  .modal-title {
    font-family: $font-family-title;
    font-size: 1rem;
  }

  .note-toolbar-wrapper {
    height: 42px !important;
  }

  .note-toolbar ~ .note-toolbar-wrapper {
    display: none;
  }

  .note-form-label {
    font-size: 0.875rem;
    font-weight: normal;
    font-family: $font-family-base;
  }

  .note-icon-caret {
    display: none;
  }

  .dropdown-menu a {
    color: black;
  }
}

// Form Login for Light Themes
.form-login--light {
  .form-login {
    &__input-group {
      label {
        color: #999;
      }

      .bar {
        background-color: #000;

        &:before,
        &:after {
          background-color: #000;
          height: 1px;
        }
      }
    }

    &__input {
      border-bottom: 1px solid rgba(#000, 0.2);
      color: #000;

      // hack autocomplete on chrome
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #555 !important;
      }

      &:focus ~ label,
      &:valid ~ label {
        color: #c1c1c1;
      }
    }

    &__icon-eye {
      stroke: #555;
    }

    &__check {
      background: rgba(0, 0, 0, 0.1);

      .icon-feather {
        stroke: #000;
        display: block;
        margin: auto;
        position: static;
      }
    }

    &__text-label {
      color: #ccc;
    }
  }
}

// Form Login for Dark Themes
.form-login--dark {
  .form-login {
    &__input-group {
      label {
        color: $blue-grey-300;
      }

      .bar {
        background-color: $green-400;

        &:before,
        &:after {
          background-color: $green-400;
          height: 1px;
        }
      }
    }

    &__input {
      border-bottom: 1px solid rgba(#fff, 0.1);
      color: #fff;

      // hack autocomplete on chrome
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #555 !important;
      }

      &:focus ~ label,
      &:valid ~ label {
        color: $green-400;
      }
    }

    &__icon-eye {
      stroke: #ccc;
    }

    &__check {
      background: rgba(0, 0, 0, 0.1);

      .icon-feather {
        stroke: $green-400;
      }
    }

    &__text-label {
      color: $blue-grey-300;
    }
  }
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c1c1c1 !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c1c1c1 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c1c1c1 !important;
}

.form-control {
  padding: 8px;
  font-size: rem(14);
  line-height: rem(20);
  &--big {
    line-height: 24px;
    padding: 10px 24px;
    height: auto;
  }

  margin-bottom: 8px;
}

select.form-control:not([size]):not([multiple]) {
  height: auto;
  height: 38px;
}

// Customize Select2
// hack Select2 Style
.select2-container--default .select2-selection--single {
  padding: 13px;
  height: 38px;
  padding: 8px;
  font-size: 15px;
  position: relative;
  line-height: 24px;
  border: 1px solid #ccc;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #66afe9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.select2-container--default .select2-selection--multiple {
  padding: 0px;
  border: 1px solid #ccc;
  line-height: 1;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-right: 4px;
  line-height: 20px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: 0;
  font-size: 13px;
  padding: 0 12px 0 8px;
  line-height: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px;
  color: #202020;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $blue;
  color: white;
}

span.select2-container.select2-container--default.select2-container--open {
  font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
  top: 0px;
  right: 0px;
  position: absolute;
  width: 24px;

  .icon {
    line-height: 36px;
    height: 34px;
    position: static;
    margin: auto;
    display: block;
  }
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  line-height: 0;
  padding-bottom: 5px;
}

span.select2-container.select2-container--default.select2-container--open {
  font-size: 14px;
}

// VALIDATION FOR INPUT FILE (server-side)
// =============================
.is-valid .valid-feedback,
.is-invalid .invalid-feedback {
  display: block !important;
  opacity: 1 !important;
}

.is-invalid .invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}

.is-invalid > .note-editor,
.is-invalid > .form-control,
.is-invalid > .select2-container--default .select2-selection--single,
.is-invalid .cke,
.is-invalid .form__label-radio:before {
  border: 1px solid #dc3545;
}

.is-valid .valid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #28a745;
}
