<div class="tab-content" id="navTabContent">
   <div class="tab-pane tab-pane--default fade show active" id="unprocessed" role="tabpanel">
      <div class="row row--m24">
         <div class="box w1of4">
            <div class="box__wrapper">
               <div class="box__body p-3">
                  <div class="display-flex">
                     <div class="box__name"><a href="#" class="box__link" data-toggle="expand-box" data-target="#user01">Endi Kuskus</a></div>
                     <div class="checkbox checkbox--green ml-auto">
                        <label>
                           <input type="checkbox" class="form-control" name="applicant" value="Endi Kuskus">
                           <span class="checkbox__span" name="unspecified_gender">
                              <i data-feather="check" class="icon-feather icon-feather--black"></i>
                           </span>
                        </label>
                     </div>
                  </div><!-- /.display-flex -->
                  <div class="box__text-small mb-2" id="latestExperience">
                     <p>Front End Developer ( &lt; 1Thn )</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-2 text-grey" id="Experience">
                     <p>.NET Developer (<span>5Thn</span>)</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-3" id="latestExperience">
                     <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span></p>
                  </div>
                  <div class="box__text-small mb-2" id="latestExperience">
                     <button class="button button--alt button--small button--small-rounded button--outline">
                        <i data-feather="user-check" class="icon-feather"></i> <span>Kenapa Memilih Saya</span>
                     </button>
                  </div>
               </div>
               <div class="box__footer box__footer--border-top p-3">
                  <div class="display-flex w100p justify-content-center">
                     <div class="mx-2">
                        <a href="#" class="box__link">Terpilih</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Wawancara</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Tidak Sesuai</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box__separator"></div>
            <div class="box__expand-wrapper" id="user01">
               <div class="box__expand" >
                  <div class="box__row display-flex">
                     <div class="display-flex">
                        <div class="img-profile90 border-green">
                           <img src="{{BASE_HREF}}assets/images/default/img-320x320.jpg" alt="Endi Kuskus" />
                        </div>
                        <div class="box__content">
                           <h3 class="box__name">Endi Kukus</h3>
                           <div class="box__text-small mb-2">
                              <p>Front End Developer (&lt; 1 Tahun)</p>
                              <p>PT. BUKALAPO</p>
                           </div>
                           <div class="box__text-small  mb-2">
                              <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span> | <span>Depok, Jawa Barat</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="ml-auto">
                        <p class="small">Melamar sejak: <span>01 Januari 1970</span></p>
                        <div class="position-relative">
                           <button class="button button--alt button--secondary" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i> <span>Choose your action</span></button>
                           <div class="dropdown-menu w100p">
                              <a href="./user-detail.html" class="dropdown-item">Terpilih</a>
                              <a href="./user-edit.html" class="dropdown-item">Wawancara</a>
                              <a href="#" class="dropdown-item dropdown-item--danger">Tidak Sesuai</a>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Mengapa Pilih Saya?</h2>
                     <div class="profile__quotes">
                        <p>Saya kurus meskipun makannya banyak, tidak pernah melewatkan makan pagi, siang, malam, maupun larut malam. Saya peternak Ikan Cupang dan siap mengantar ke pelosok Indonesia. Ikan saja saya urus apalagi Perusahaan Bapak / Ibu, kan kujaga erat-erat karena susayang. </p>
                        <p>Akhir kata tak ada Gading yang tak retak, Salam satu aspal.</p>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pengalaman</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">1 Tahun 8 Bulan</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Front End Developer</p>
                              <p class="box__column-company">PT BUKALAPO</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Industri</td>
                                       <td>Makanan &amp; Minuman /Katering /Restoran</td>
                                    </tr>
                                    <tr>
                                       <td>Spesialisasi</td>
                                       <td>IT Komputer - Perangkat Lunak</td>
                                    </tr>
                                    <tr>
                                       <td>Bidang Pekerjaanny</td>
                                       <td>Lainnya</td>
                                    </tr>
                                    <tr>
                                       <td>Jabatan</td>
                                       <td>Staf Ahli Kepresidenan</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <div class="box__column-info mb-2">
                              <p>Menyayangi segala jenis makanan dan bertugas menjaga kebersihan piring-piring yang telah terpakai. Bertugas juga dalam Penginputan Data Makanan yang tersedia, menjaga kualitas produk dan menghabiskan produk yang hampir expired.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pendidikan</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Sep 2016</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Universitas Serba Guna</p>
                              <p class="box__column-company">Sarjana (S1) dalam Teknik (Komputer/Telekomunikasi) | Depok, Indonesia</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Tingkat</td>
                                       <td>Teknik</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <div class="mb-3">
                        <h2 class="box__row-title">Bahasa</h2>
                        <p class="box__row-subtitle">Tingkat Kemampuan: 0 - Buruk, 10 - Sempurna</p>
                     </div>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <th>Bahasa</th>
                              <th>Bicara</th>
                              <th>Menulis</th>
                              <th>Mengeja</td>
                           </tr>
                           <tr>
                              <td>Indonesia</td>
                              <td>10</td>
                              <td>10</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Atlantis</td>
                              <td>10</td>
                              <td>10</td>
                              <td>10</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Tentang Saya</h2>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <td>Jenis Kelamin</td>
                              <td>Laki-laki</td>
                           </tr>
                           <tr>
                              <td>Umur</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Kontak</td>
                              <td>+6285813871463</td>
                           </tr>
                           <tr>
                              <td>Alamat</td>
                              <td>Jl Cinta Damai Raya No 18 RT009 RW021 Kel. Mekar Jaya Kec. Sukmajaya Depok 16411</td>
                           </tr>
                           <tr>
                              <td>Kewarganegaraan</td>
                              <td>Afro Indonesia</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row box__row--green">
                     <div class="mb-3">
                        <h2 class="box__row-title">Riwayat</h2>
                        <p class="box__row-subtitle">Bagian ini hanya untuk penggunaan internal</p>
                     </div>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">BELUM DIPROSES</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Programmer .NET CBN</p>
                              <p class="box__column-company">PT. Cyberindo Aditama (CBN)</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
               </div><!-- /.box-expand -->
            </div>
         </div>
         <!-- /.box -->
         <div class="box w1of4">
            <div class="box__wrapper">
               <div class="box__body p-3">
                  <div class="display-flex">
                     <div class="box__name"><a href="#" class="box__link" data-target="#user02" data-toggle="expand-box">Poltak Raja Minyak</a></div>
                     <div class="checkbox checkbox--green ml-auto">
                        <label>
                           <input type="checkbox" class="form-control" name="applicant" value="Endi Kuskus">
                           <span class="checkbox__span" name="unspecified_gender">
                              <i data-feather="check" class="icon-feather icon-feather--black"></i>
                           </span>
                        </label>
                     </div>
                  </div><!-- /.display-flex -->
                  <div class="box__text-small mb-2" id="latestExperience">
                     <p>Front End Developer ( 
                        
                        &lt; 1Thn )</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-2 text-grey" id="Experience">
                     <p>.NET Developer (<span>5Thn</span>)</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-3" id="latestExperience">
                     <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span></p>
                  </div>
                  <div class="box__text-small mb-2" id="latestExperience">
                     <button class="button button--alt button--small button--small-rounded button--outline">
                        <i data-feather="user-check" class="icon-feather"></i> <span>Kenapa Memilih Saya</span>
                     </button>
                  </div>
               </div>
               <div class="box__footer box__footer--border-top p-3">
                  <div class="display-flex w100p justify-content-center">
                     <div class="mx-2">
                        <a href="#" class="box__link">Terpilih</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Wawancara</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Tidak Sesuai</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box__separator"></div>
            <div class="box__expand-wrapper" id="user02">
               <div class="box__expand">
                  <div class="box__row display-flex">
                     <div class="display-flex">
                        <div class="img-profile90 border-green">
                           <img src="{{BASE_HREF}}assets/images/default/img-320x320.jpg" alt="Endi Kuskus" />
                        </div>
                        <div class="box__content">
                           <h3 class="box__name">Poltak Raja Minyak</h3>
                           <div class="box__text-small mb-2">
                              <p>Front End Developer (&lt; 1 Tahun)</p>
                              <p>PT. BUKALAPO</p>
                           </div>
                           <div class="box__text-small  mb-2">
                              <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span> | <span>Depok, Jawa Barat</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="ml-auto">
                        <p class="small">Melamar sejak: <span>01 Januari 1970</span></p>
                        <div class="position-relative">
                           <button class="button button--alt button--secondary" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i> <span>Choose your action</span></button>
                           <div class="dropdown-menu w100p">
                              <a href="./user-detail.html" class="dropdown-item">Terpilih</a>
                              <a href="./user-edit.html" class="dropdown-item">Wawancara</a>
                              <a href="#" class="dropdown-item dropdown-item--danger">Tidak Sesuai</a>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Mengapa Pilih Saya?</h2>
                     <div class="profile__quotes">
                        <p>Saya kurus meskipun makannya banyak, tidak pernah melewatkan makan pagi, siang, malam, maupun larut malam. Saya peternak Ikan Cupang dan siap mengantar ke pelosok Indonesia. Ikan saja saya urus apalagi Perusahaan Bapak / Ibu, kan kujaga erat-erat karena susayang. </p>
                        <p>Akhir kata tak ada Gading yang tak retak, Salam satu aspal.</p>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pengalaman</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">1 Tahun 8 Bulan</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Front End Developer</p>
                              <p class="box__column-company">PT BUKALAPO</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Industri</td>
                                       <td>Makanan &amp; Minuman /Katering /Restoran</td>
                                    </tr>
                                    <tr>
                                       <td>Spesialisasi</td>
                                       <td>IT Komputer - Perangkat Lunak</td>
                                    </tr>
                                    <tr>
                                       <td>Bidang Pekerjaanny</td>
                                       <td>Lainnya</td>
                                    </tr>
                                    <tr>
                                       <td>Jabatan</td>
                                       <td>Staf Ahli Kepresidenan</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <div class="box__column-info mb-2">
                              <p>Menyayangi segala jenis makanan dan bertugas menjaga kebersihan piring-piring yang telah terpakai. Bertugas juga dalam Penginputan Data Makanan yang tersedia, menjaga kualitas produk dan menghabiskan produk yang hampir expired.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pendidikan</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Sep 2016</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Universitas Serba Guna</p>
                              <p class="box__column-company">Sarjana (S1) dalam Teknik (Komputer/Telekomunikasi) | Depok, Indonesia</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Tingkat</td>
                                       <td>Teknik</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <div class="mb-3">
                        <h2 class="box__row-title">Bahasa</h2>
                        <p class="box__row-subtitle">Tingkat Kemampuan: 0 - Buruk, 10 - Sempurna</p>
                     </div>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <th>Bahasa</th>
                              <th>Bicara</th>
                              <th>Menulis</th>
                              <th>Mengeja</td>
                           </tr>
                           <tr>
                              <td>Indonesia</td>
                              <td>10</td>
                              <td>10</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Atlantis</td>
                              <td>10</td>
                              <td>10</td>
                              <td>10</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Tentang Saya</h2>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <td>Jenis Kelamin</td>
                              <td>Laki-laki</td>
                           </tr>
                           <tr>
                              <td>Umur</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Kontak</td>
                              <td>+6285813871463</td>
                           </tr>
                           <tr>
                              <td>Alamat</td>
                              <td>Jl Cinta Damai Raya No 18 RT009 RW021 Kel. Mekar Jaya Kec. Sukmajaya Depok 16411</td>
                           </tr>
                           <tr>
                              <td>Kewarganegaraan</td>
                              <td>Afro Indonesia</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row box__row--green">
                     <div class="mb-3">
                        <h2 class="box__row-title">Riwayat</h2>
                        <p class="box__row-subtitle">Bagian ini hanya untuk penggunaan internal</p>
                     </div>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">BELUM DIPROSES</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Programmer .NET CBN</p>
                              <p class="box__column-company">PT. Cyberindo Aditama (CBN)</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
               </div><!-- /.box-expand -->
            </div>
         </div>
         <!-- /.box -->
         <div class="box w1of4">
            <div class="box__wrapper">
               <div class="box__body p-3">
                  <div class="display-flex">
                     <div class="box__name"><a href="#" class="box__link" data-target="#user03" data-toggle="expand-box">Atung</a></div>
                     <div class="checkbox checkbox--green ml-auto">
                        <label>
                           <input type="checkbox" class="form-control" name="applicant" value="Endi Kuskus">
                           <span class="checkbox__span" name="unspecified_gender">
                              <i data-feather="check" class="icon-feather icon-feather--black"></i>
                           </span>
                        </label>
                     </div>
                  </div><!-- /.display-flex -->
                  <div class="box__text-small mb-2" id="latestExperience">
                     <p>Front End Developer ( 
                        
                        &lt; 1Thn )</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-2 text-grey" id="Experience">
                     <p>.NET Developer (<span>5Thn</span>)</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-3" id="latestExperience">
                     <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span></p>
                  </div>
                  <div class="box__text-small mb-2" id="latestExperience">
                     <button class="button button--alt button--small button--small-rounded button--outline">
                        <i data-feather="user-check" class="icon-feather"></i> <span>Kenapa Memilih Saya</span>
                     </button>
                  </div>
               </div>
               <div class="box__footer box__footer--border-top p-3">
                  <div class="display-flex w100p justify-content-center">
                     <div class="mx-2">
                        <a href="#" class="box__link">Terpilih</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Wawancara</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Tidak Sesuai</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box__separator"></div>
            <div class="box__expand-wrapper" id="user03">
               <div class="box__expand">
                  <div class="box__row display-flex">
                     <div class="display-flex">
                        <div class="img-profile90 border-green">
                           <img src="{{BASE_HREF}}assets/images/default/img-320x320.jpg" alt="Endi Kuskus" />
                        </div>
                        <div class="box__content">
                           <h3 class="box__name">Atung</h3>
                           <div class="box__text-small mb-2">
                              <p>Front End Developer (&lt; 1 Tahun)</p>
                              <p>PT. BUKALAPO</p>
                           </div>
                           <div class="box__text-small  mb-2">
                              <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span> | <span>Depok, Jawa Barat</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="ml-auto">
                        <p class="small">Melamar sejak: <span>01 Januari 1970</span></p>
                        <div class="position-relative">
                           <button class="button button--alt button--secondary" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i> <span>Choose your action</span></button>
                           <div class="dropdown-menu w100p">
                              <a href="./user-detail.html" class="dropdown-item">Terpilih</a>
                              <a href="./user-edit.html" class="dropdown-item">Wawancara</a>
                              <a href="#" class="dropdown-item dropdown-item--danger">Tidak Sesuai</a>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Mengapa Pilih Saya?</h2>
                     <div class="profile__quotes">
                        <p>Saya kurus meskipun makannya banyak, tidak pernah melewatkan makan pagi, siang, malam, maupun larut malam. Saya peternak Ikan Cupang dan siap mengantar ke pelosok Indonesia. Ikan saja saya urus apalagi Perusahaan Bapak / Ibu, kan kujaga erat-erat karena susayang. </p>
                        <p>Akhir kata tak ada Gading yang tak retak, Salam satu aspal.</p>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pengalaman</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">1 Tahun 8 Bulan</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Front End Developer</p>
                              <p class="box__column-company">PT BUKALAPO</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Industri</td>
                                       <td>Makanan &amp; Minuman /Katering /Restoran</td>
                                    </tr>
                                    <tr>
                                       <td>Spesialisasi</td>
                                       <td>IT Komputer - Perangkat Lunak</td>
                                    </tr>
                                    <tr>
                                       <td>Bidang Pekerjaanny</td>
                                       <td>Lainnya</td>
                                    </tr>
                                    <tr>
                                       <td>Jabatan</td>
                                       <td>Staf Ahli Kepresidenan</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <div class="box__column-info mb-2">
                              <p>Menyayangi segala jenis makanan dan bertugas menjaga kebersihan piring-piring yang telah terpakai. Bertugas juga dalam Penginputan Data Makanan yang tersedia, menjaga kualitas produk dan menghabiskan produk yang hampir expired.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pendidikan</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Sep 2016</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Universitas Serba Guna</p>
                              <p class="box__column-company">Sarjana (S1) dalam Teknik (Komputer/Telekomunikasi) | Depok, Indonesia</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Tingkat</td>
                                       <td>Teknik</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <div class="mb-3">
                        <h2 class="box__row-title">Bahasa</h2>
                        <p class="box__row-subtitle">Tingkat Kemampuan: 0 - Buruk, 10 - Sempurna</p>
                     </div>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <th>Bahasa</th>
                              <th>Bicara</th>
                              <th>Menulis</th>
                              <th>Mengeja</td>
                           </tr>
                           <tr>
                              <td>Indonesia</td>
                              <td>10</td>
                              <td>10</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Atlantis</td>
                              <td>10</td>
                              <td>10</td>
                              <td>10</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Tentang Saya</h2>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <td>Jenis Kelamin</td>
                              <td>Laki-laki</td>
                           </tr>
                           <tr>
                              <td>Umur</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Kontak</td>
                              <td>+6285813871463</td>
                           </tr>
                           <tr>
                              <td>Alamat</td>
                              <td>Jl Cinta Damai Raya No 18 RT009 RW021 Kel. Mekar Jaya Kec. Sukmajaya Depok 16411</td>
                           </tr>
                           <tr>
                              <td>Kewarganegaraan</td>
                              <td>Afro Indonesia</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row box__row--green">
                     <div class="mb-3">
                        <h2 class="box__row-title">Riwayat</h2>
                        <p class="box__row-subtitle">Bagian ini hanya untuk penggunaan internal</p>
                     </div>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">BELUM DIPROSES</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Programmer .NET CBN</p>
                              <p class="box__column-company">PT. Cyberindo Aditama (CBN)</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
               </div><!-- /.box-expand -->
            </div>
         </div>
         <!-- /.box -->
         <div class="box w1of4">
            <div class="box__wrapper">
               <div class="box__body p-3">
                  <div class="display-flex">
                     <div class="box__name"><a href="#" class="box__link" data-target="#user04" data-toggle="expand-box">Riki Rajakentut</a></div>
                     <div class="checkbox checkbox--green ml-auto">
                        <label>
                           <input type="checkbox" class="form-control" name="applicant" value="Endi Kuskus">
                           <span class="checkbox__span" name="unspecified_gender">
                              <i data-feather="check" class="icon-feather icon-feather--black"></i>
                           </span>
                        </label>
                     </div>
                  </div><!-- /.display-flex -->
                  <div class="box__text-small mb-2" id="latestExperience">
                     <p>Front End Developer ( 
                        
                        &lt; 1Thn )</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-2 text-grey" id="Experience">
                     <p>.NET Developer (<span>5Thn</span>)</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-3" id="latestExperience">
                     <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span></p>
                  </div>
                  <div class="box__text-small mb-2" id="latestExperience">
                     <button class="button button--alt button--small button--small-rounded button--outline">
                        <i data-feather="user-check" class="icon-feather"></i> <span>Kenapa Memilih Saya</span>
                     </button>
                  </div>
               </div>
               <div class="box__footer box__footer--border-top p-3">
                  <div class="display-flex w100p justify-content-center">
                     <div class="mx-2">
                        <a href="#" class="box__link">Terpilih</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Wawancara</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Tidak Sesuai</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box__separator"></div>
            <div class="box__expand-wrapper" id="user04">
               <div class="box__expand">
                  <div class="box__row display-flex">
                     <div class="display-flex">
                        <div class="img-profile90 border-green">
                           <img src="{{BASE_HREF}}assets/images/default/img-320x320.jpg" alt="Endi Kuskus" />
                        </div>
                        <div class="box__content">
                           <h3 class="box__name">Riki Rajakentut</h3>
                           <div class="box__text-small mb-2">
                              <p>Front End Developer (&lt; 1 Tahun)</p>
                              <p>PT. BUKALAPO</p>
                           </div>
                           <div class="box__text-small  mb-2">
                              <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span> | <span>Depok, Jawa Barat</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="ml-auto">
                        <p class="small">Melamar sejak: <span>01 Januari 1970</span></p>
                        <div class="position-relative">
                           <button class="button button--alt button--secondary" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i> <span>Choose your action</span></button>
                           <div class="dropdown-menu w100p">
                              <a href="./user-detail.html" class="dropdown-item">Terpilih</a>
                              <a href="./user-edit.html" class="dropdown-item">Wawancara</a>
                              <a href="#" class="dropdown-item dropdown-item--danger">Tidak Sesuai</a>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Mengapa Pilih Saya?</h2>
                     <div class="profile__quotes">
                        <p>Saya kurus meskipun makannya banyak, tidak pernah melewatkan makan pagi, siang, malam, maupun larut malam. Saya peternak Ikan Cupang dan siap mengantar ke pelosok Indonesia. Ikan saja saya urus apalagi Perusahaan Bapak / Ibu, kan kujaga erat-erat karena susayang. </p>
                        <p>Akhir kata tak ada Gading yang tak retak, Salam satu aspal.</p>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pengalaman</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">1 Tahun 8 Bulan</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Front End Developer</p>
                              <p class="box__column-company">PT BUKALAPO</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Industri</td>
                                       <td>Makanan &amp; Minuman /Katering /Restoran</td>
                                    </tr>
                                    <tr>
                                       <td>Spesialisasi</td>
                                       <td>IT Komputer - Perangkat Lunak</td>
                                    </tr>
                                    <tr>
                                       <td>Bidang Pekerjaanny</td>
                                       <td>Lainnya</td>
                                    </tr>
                                    <tr>
                                       <td>Jabatan</td>
                                       <td>Staf Ahli Kepresidenan</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <div class="box__column-info mb-2">
                              <p>Menyayangi segala jenis makanan dan bertugas menjaga kebersihan piring-piring yang telah terpakai. Bertugas juga dalam Penginputan Data Makanan yang tersedia, menjaga kualitas produk dan menghabiskan produk yang hampir expired.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pendidikan</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Sep 2016</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Universitas Serba Guna</p>
                              <p class="box__column-company">Sarjana (S1) dalam Teknik (Komputer/Telekomunikasi) | Depok, Indonesia</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Tingkat</td>
                                       <td>Teknik</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <div class="mb-3">
                        <h2 class="box__row-title">Bahasa</h2>
                        <p class="box__row-subtitle">Tingkat Kemampuan: 0 - Buruk, 10 - Sempurna</p>
                     </div>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <th>Bahasa</th>
                              <th>Bicara</th>
                              <th>Menulis</th>
                              <th>Mengeja</td>
                           </tr>
                           <tr>
                              <td>Indonesia</td>
                              <td>10</td>
                              <td>10</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Atlantis</td>
                              <td>10</td>
                              <td>10</td>
                              <td>10</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Tentang Saya</h2>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <td>Jenis Kelamin</td>
                              <td>Laki-laki</td>
                           </tr>
                           <tr>
                              <td>Umur</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Kontak</td>
                              <td>+6285813871463</td>
                           </tr>
                           <tr>
                              <td>Alamat</td>
                              <td>Jl Cinta Damai Raya No 18 RT009 RW021 Kel. Mekar Jaya Kec. Sukmajaya Depok 16411</td>
                           </tr>
                           <tr>
                              <td>Kewarganegaraan</td>
                              <td>Afro Indonesia</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row box__row--green">
                     <div class="mb-3">
                        <h2 class="box__row-title">Riwayat</h2>
                        <p class="box__row-subtitle">Bagian ini hanya untuk penggunaan internal</p>
                     </div>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">BELUM DIPROSES</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Programmer .NET CBN</p>
                              <p class="box__column-company">PT. Cyberindo Aditama (CBN)</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
               </div><!-- /.box-expand -->
            </div>
         </div>
         <!-- /.box -->
         <div class="box w1of4">
            <div class="box__wrapper">
               <div class="box__body p-3">
                  <div class="display-flex">
                     <div class="box__name"><a href="#" class="box__link" data-target="#user05" data-toggle="expand-box">Shumochan</a></div>
                     <div class="checkbox checkbox--green ml-auto">
                        <label>
                           <input type="checkbox" class="form-control" name="applicant" value="Endi Kuskus">
                           <span class="checkbox__span" name="unspecified_gender">
                              <i data-feather="check" class="icon-feather icon-feather--black"></i>
                           </span>
                        </label>
                     </div>
                  </div><!-- /.display-flex -->
                  <div class="box__text-small mb-2" id="latestExperience">
                     <p>Front End Developer ( 
                        
                        &lt; 1Thn )</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-2 text-grey" id="Experience">
                     <p>.NET Developer (<span>5Thn</span>)</p>
                     <p>PT. BUKALAPO</p>
                  </div>
                  <div class="box__text-small mb-3" id="latestExperience">
                     <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span></p>
                  </div>
                  <div class="box__text-small mb-2" id="latestExperience">
                     <button class="button button--alt button--small button--small-rounded button--outline">
                        <i data-feather="user-check" class="icon-feather"></i> <span>Kenapa Memilih Saya</span>
                     </button>
                  </div>
               </div>
               <div class="box__footer box__footer--border-top p-3">
                  <div class="display-flex w100p justify-content-center">
                     <div class="mx-2">
                        <a href="#" class="box__link">Terpilih</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Wawancara</a>
                     </div>
                     <div class="mx-2">
                        <a href="#" class="box__link">Tidak Sesuai</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="box__separator"></div>
            <div class="box__expand-wrapper" id="user05">
               <div class="box__expand">
                  <div class="box__row display-flex">
                     <div class="display-flex">
                        <div class="img-profile90 border-green">
                           <img src="{{BASE_HREF}}assets/images/default/img-320x320.jpg" alt="Endi Kuskus" />
                        </div>
                        <div class="box__content">
                           <h3 class="box__name">Sumochan</h3>
                           <div class="box__text-small mb-2">
                              <p>Front End Developer (&lt; 1 Tahun)</p>
                              <p>PT. BUKALAPO</p>
                           </div>
                           <div class="box__text-small  mb-2">
                              <p><span>Rp. 10.000.000</span> | <span>Sarjana (S1) - Aug 2017</span> | <span>Depok, Jawa Barat</span></p>
                           </div>
                        </div>
                     </div>
                     <div class="ml-auto">
                        <p class="small">Melamar sejak: <span>01 Januari 1970</span></p>
                        <div class="position-relative">
                           <button class="button button--alt button--secondary" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i> <span>Choose your action</span></button>
                           <div class="dropdown-menu w100p">
                              <a href="./user-detail.html" class="dropdown-item">Terpilih</a>
                              <a href="./user-edit.html" class="dropdown-item">Wawancara</a>
                              <a href="#" class="dropdown-item dropdown-item--danger">Tidak Sesuai</a>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Mengapa Pilih Saya?</h2>
                     <div class="profile__quotes">
                        <p>Saya kurus meskipun makannya banyak, tidak pernah melewatkan makan pagi, siang, malam, maupun larut malam. Saya peternak Ikan Cupang dan siap mengantar ke pelosok Indonesia. Ikan saja saya urus apalagi Perusahaan Bapak / Ibu, kan kujaga erat-erat karena susayang. </p>
                        <p>Akhir kata tak ada Gading yang tak retak, Salam satu aspal.</p>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pengalaman</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">1 Tahun 8 Bulan</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Front End Developer</p>
                              <p class="box__column-company">PT BUKALAPO</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Industri</td>
                                       <td>Makanan &amp; Minuman /Katering /Restoran</td>
                                    </tr>
                                    <tr>
                                       <td>Spesialisasi</td>
                                       <td>IT Komputer - Perangkat Lunak</td>
                                    </tr>
                                    <tr>
                                       <td>Bidang Pekerjaanny</td>
                                       <td>Lainnya</td>
                                    </tr>
                                    <tr>
                                       <td>Jabatan</td>
                                       <td>Staf Ahli Kepresidenan</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                           <div class="box__column-info mb-2">
                              <p>Menyayangi segala jenis makanan dan bertugas menjaga kebersihan piring-piring yang telah terpakai. Bertugas juga dalam Penginputan Data Makanan yang tersedia, menjaga kualitas produk dan menghabiskan produk yang hampir expired.</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Pendidikan</h2>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Sep 2016</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Universitas Serba Guna</p>
                              <p class="box__column-company">Sarjana (S1) dalam Teknik (Komputer/Telekomunikasi) | Depok, Indonesia</p>
                           </div>
                           <div class="mb-2">
                              <div class="table-responsive">
                                 <table class="table box__column-table">
                                    <tr>
                                       <td>Tingkat</td>
                                       <td>Teknik</td>
                                    </tr>
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <div class="mb-3">
                        <h2 class="box__row-title">Bahasa</h2>
                        <p class="box__row-subtitle">Tingkat Kemampuan: 0 - Buruk, 10 - Sempurna</p>
                     </div>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <th>Bahasa</th>
                              <th>Bicara</th>
                              <th>Menulis</th>
                              <th>Mengeja</td>
                           </tr>
                           <tr>
                              <td>Indonesia</td>
                              <td>10</td>
                              <td>10</td>
                              <td>4</td>
                           </tr>
                           <tr>
                              <td>Atlantis</td>
                              <td>10</td>
                              <td>10</td>
                              <td>10</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row">
                     <h2 class="box__row-title mb-3">Tentang Saya</h2>
                     <div class="table-responsive">
                        <table class="table box__column-table">
                           <tr>
                              <td>Jenis Kelamin</td>
                              <td>Laki-laki</td>
                           </tr>
                           <tr>
                              <td>Umur</td>
                              <td>25</td>
                           </tr>
                           <tr>
                              <td>Kontak</td>
                              <td>+6285813871463</td>
                           </tr>
                           <tr>
                              <td>Alamat</td>
                              <td>Jl Cinta Damai Raya No 18 RT009 RW021 Kel. Mekar Jaya Kec. Sukmajaya Depok 16411</td>
                           </tr>
                           <tr>
                              <td>Kewarganegaraan</td>
                              <td>Afro Indonesia</td>
                           </tr>
                        </table>
                     </div>
                  </div><!-- /box-row -->
                  <div class="box__row box__row--green">
                     <div class="mb-3">
                        <h2 class="box__row-title">Riwayat</h2>
                        <p class="box__row-subtitle">Bagian ini hanya untuk penggunaan internal</p>
                     </div>
                     <div class="box__row display-flex">
                        <div class="box__column-date box__text-small">
                           <p>Apr 2017 - Sekarang</p>
                           <p class="text-light">BELUM DIPROSES</p>
                        </div>
                        <div class="box__column-text">
                           <div class="mb-2">
                              <p class="box__column-name">Programmer .NET CBN</p>
                              <p class="box__column-company">PT. Cyberindo Aditama (CBN)</p>
                           </div>
                        </div>
                     </div>
                  </div><!-- /box-row -->
               </div><!-- /.box-expand -->
            </div>
         </div>
         <!-- /.box -->
      </div>
   </div>
   <div class="tab-pane tab-pane--default fade" id="chosen" role="tabpanel">
      <h1>Chosen</h1>
   </div>
   <div class="tab-pane tab-pane--default fade" id="interview" role="tabpanel">
      <h1>Interview</h1>
   </div>
   <div class="tab-pane tab-pane--default fade" id="dumped" role="tabpanel">
      <h1>Dumped</h1>
   </div>
</div><!-- /.tab-content -->