<div class="row">
   <div class="col">
      <div class="box">
         <div class="box__wrapper">
            <div class="box__header box__header--no-padding-y">
               <div class="nav__wrapper w100p">
                  <div class="nav nav-tabs nav-tabs--tertiary justify-content-center" id="navTab">
                     <a href="#overviewTab" role="tab" data-toggle="tab" class="nav-item nav-link d-flex align-items-center active">
                        <span>Overview</span>
                     </a>
                     <a href="#talentsTab" role="tab" data-toggle="tab" class="nav-item nav-link d-flex align-items-center ">
                        <span>Talents</span>
                     </a>
                     <a href="#applicantsTab" role="tab" data-toggle="tab" class="nav-item nav-link d-flex align-items-center ">
                        <span>Applicants</span>
                     </a>
                     <a href="#openJobsTab" role="tab" data-toggle="tab" class="nav-item nav-link d-flex align-items-center ">
                        <span>Open Jobs</span>
                     </a>
                  </div>
               </div>
            </div><!-- /.box__header -->
         </div>
      </div>
      <!-- /.box -->
   </div>
</div>