<form class="form" novalidate>
   <div class="tab-pane__top">
      <h2 class="tab-pane__title">
         <i class="icon-feather" data-feather="compass"></i><span>Basic Info</span>
      </h2>
   </div>
   <div class="row">
      <div class="col-12">
         <div class="form-group">
            <label for="phone">Product Name</label>
            <input id="phone" type="text" name="phone" placeholder="Insert Product Name" class="form-control phone" data-toggle="count" data-length="50" required>
            <div class="invalid-feedback">Input your correct phone number, start with [CODE AREA][NUMBERS]</div>
            <div class="valid-feedback">Looks Great</div>
         </div>
         <div class="form-group">
            <label for="content_id">Company Address</label>
            <textarea id="content_id" name="content_id" class="form-control summernote" data-toggle="count" data-length="500" required></textarea>
            <div class="invalid-feedback">Your Company address must not empty</div>
         </div>
      </div>
   </div>
</form>