<div class="row">
   <div class="col-12">
      <div class="mb-3" id="previews">
         <div class="display-inline-flex" id="template">
            <div class="div-table__cell">
               <div class="thumbnail thumbnail--small">
                  <div class="thumbnail__wrapper">
                     <div class="thumbnail__centered">
                        <img data-dz-thumbnail class="thumbnail__image">
                     </div>
                  </div>
               </div>
               <button class="button button--danger button--icon-rounded delete"><i data-feather="x" class="icon-feather"></i></button>
            </div>
         </div><!-- /#template -->
      </div>
   </div>
</div>
<div class="row">
   <div class="col-12">
      <div class="drop-area" id="dropArea">
         <div class="drop-area__wrapper">
            <div class="drop-area__content">
               <h2 class="drop-area__title">Drop Files Here</h2>
               <p class="drop-area__text">or</p>
               <button class="button button--alt button--outline js-fileinput-btn">Select Files</button>
            </div>
         </div>
      </div>
   </div>
</div>