<div class="auth-dialog__footer">
   <ul class="auth-dialog__links">
      <li><a href="./forgot-password.html" title="Lost Password">Lost My Password</a></li>
      <li><a href="#" data-toggle="modal" data-target="#privacyModal" title="Privacy Policy">Privacy Policy</a></li>
      <li><a href="#" data-toggle="modal" data-target="#legalModal" title="Terms of Use">Terms of Use</a></li>
   </ul>
   <p class="auth-dialog__copy">&copy; Copyright 2019. <a href="http://cyberprimatama.id" target="_blank" title="Cyberindo Primatama">Cyberindo Primatama</a>. All Right Reserved.</p>
</div>