<div class="tab-pane__top">
   <h2 class="tab-pane__title">
      <i class="icon-feather" data-feather="globe"></i><span>Third Party Plugins</span>
   </h2>
</div>
<div class="row justify-content-center">
   <div class="col-12">
      <div class="form__column mb-0">
         <h4 class="form__title">Plugin Settings</h4>
         <div class="div-table">
            <div class="div-table__row div-table__row--heading">
               <div class="div-table__cell">Service</div>
               <div class="div-table__cell">Description</div>
               <div class="div-table__cell">Action</div>
            </div>
            <div class="div-table__row">
               <div class="div-table__cell"><strong>MailJet</strong></div>
               <div class="div-table__cell">Easy to use Marketing Email Solution</div>
               <div class="div-table__cell"><button class="button button--alt ml-auto" data-toggle="collapse" data-target="#mailJet">Configure</button></div>
               <div class="w-100">
                  <div class="collapse" id="mailJet">
                     <div class="more-space pt-0">
                        <form class="form col-xl-10 ml-auto">
                           <div class="form__list form__list--stripe">
                              <div class="col col-xl-3">
                                 <div class="form__desc">Status</div>
                              </div>
                              <div class="col col-xl-9">
                                 <div class="form__actions">
                                    <div class="toggle-switch">
                                       <label>
                                          <input type="checkbox" name="isHomepage" value="true" class="form-check-input" checked/>
                                          <span class="toggle-switch__box">
                                             <span class="toggle-switch__switcher"></span>
                                          </span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">API Key</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="api">API Key</label>
                                 <input class="form-control" id="api" type="text" placeholder="Insert API Key" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">Username</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="user">Username</label>
                                 <input class="form-control" id="user" type="text" placeholder="Insert Valid Username" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12">
                                 <div class="form__actions">
                                    <a href="#" class="button button--alt button--hollow mr-2">Cancel</a>
                                    <button type="submit" class="button button--secondary button--alt">Save Changes</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div> 
                  </div>
               </div>
            </div>
            <div class="div-table__row">
               <div class="div-table__cell"><strong>Slack Notification</strong></div>
               <div class="div-table__cell">Receive event notifications in Slack</div>
               <div class="div-table__cell"><button class="button button--alt ml-auto" data-toggle="collapse" data-target="#slackNotif">Configure</button></div>
               <div class="w-100">
                  <div class="collapse" id="slackNotif">
                     <div class="more-space pt-0">
                        <form class="form col-xl-10 ml-auto">
                           <div class="form__list form__list--stripe">
                              <div class="col col-xl-3">
                                 <div class="form__desc">Status</div>
                              </div>
                              <div class="col col-xl-9">
                                 <div class="form__actions">
                                    <div class="toggle-switch">
                                       <label>
                                          <input type="checkbox" name="isHomepage" value="true" class="form-check-input" checked/>
                                          <span class="toggle-switch__box">
                                             <span class="toggle-switch__switcher"></span>
                                          </span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">Webhooks</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="webhooks">Webhooks</label>
                                 <input class="form-control" id="webhooks" type="text" placeholder="Insert API Key" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">Username</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="user">Username</label>
                                 <input class="form-control" id="user" type="text" placeholder="Insert Valid Username" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">Room</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="user">Username</label>
                                 <input class="form-control" id="user" type="text" placeholder="Channel Rooms" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12">
                                 <div class="form__actions">
                                    <a href="#" class="button button--alt button--hollow mr-2">Cancel</a>
                                    <button type="submit" class="button button--secondary button--alt">Save Changes</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div> 
                  </div>
               </div>
            </div>
            <div class="div-table__row">
               <div class="div-table__cell"><strong>Basreng Security 4.0</strong></div>
               <div class="div-table__cell">Brian Basreng configuration for page optimization and web-security</div>
               <div class="div-table__cell"><button class="button button--alt ml-auto" data-toggle="collapse" data-target="#basreng">Configure</button></div>
               <div class="w-100">
                  <div class="collapse" id="basreng">
                     <div class="more-space pt-0">
                        <form class="form col-xl-10 ml-auto">
                           <div class="form__list form__list--stripe">
                              <div class="col col-xl-3">
                                 <div class="form__desc">Status</div>
                              </div>
                              <div class="col col-xl-9">
                                 <div class="form__actions">
                                    <div class="toggle-switch">
                                       <label>
                                          <input type="checkbox" name="isHomepage" value="true" class="form-check-input" checked/>
                                          <span class="toggle-switch__box">
                                             <span class="toggle-switch__switcher"></span>
                                          </span>
                                       </label>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">WebToken</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="webhooks">WebToken</label>
                                 <input class="form-control" id="webhooks" type="text" value="s4BOloN9R3nGw4kAnD4" placeholder="Insert WebToken Key" readonly />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12 col-xl-3">
                                 <div class="form__desc">Username</div>
                              </div>
                              <div class="col-12 col-xl-9">
                                 <label class="sr-only" for="user">Username</label>
                                 <input class="form-control" id="user" type="text" value="Brian Benjamin Basreng" placeholder="Insert Valid Username" />
                              </div>
                           </div>
                           <div class="form__list form__list--stripe">
                              <div class="col-12">
                                 <div class="form__actions">
                                    <a href="#" class="button button--alt button--hollow mr-2">Cancel</a>
                                    <button type="submit" class="button button--secondary button--alt">Save Changes</button>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div> 
                  </div>
               </div>
            </div>
         </div>
         
      </div>
   </div><!-- /.col-->
</div><!-- /.row -->
