{% for page in pages %}
<tr>
   <td>
      <div class="checkbox">
         <label><input type="checkbox"><span class="checkbox__span"><i data-feather="check" class="icon-feather icon-feather--black"></i></span></label>
      </div>
   </td>
   <td>
      <div class="table__container">
         <h2 class="table__title">
         {% if page.has_parent %}
            <a href="#">
               {% for parent in page.parents %}{{parent}}<i data-feather="chevron-right" class="icon-feather icon-feather--dark mx-1"></i>{% endfor %}{{page.name}}
            </a>
         {% else %}
            <a href="#">{{page.name}}</a>
         {% endif %}</h2>
         <div class="table__actions">
            <a href="#" class="button button--link table__action"><i data-feather="edit" class="icon-feather icon-feather--black"></i>Edit</a>
            <a href="#" class="button button--link table__action"><i data-feather="eye" class="icon-feather icon-feather--black"></i>View</a>
            <button class="button button--link table__action"><i data-feather="trash-2" class="icon-feather icon-feather--black"></i>Trash</button>
         </div>
      </div>
   </td>
   <td>
      <div class="table__container d-flex flex-row align-items-center">
         <div class="table__photo"><img src="{{BASE_HREF}}assets/images/default/{{page.author_photo}}" alt=""></div>
         <div class="table__user">
            <div class="table__user-name"><a href="#">{{page.author}}</a></div>
            <div class="table__user-role"><a href="#">{{page.author_role}}</a></div>
         </div>
      </div>
   </td>
   <td>
      <div class="table__container">
         <p class="table__label">{% if page.status == 1 %}Published on{% else %}Modified on{% endif %}</p>
         <p class="table__date">{{page.date | date('LLL')}}</p>
      </div>
   </td>
</tr>
{% endfor %}