{% for user in users %}
<tr>
   <td>
      <div class="table__container d-flex flex-row align-items-center">
         <div class="table__photo"><img src="{{BASE_HREF}}assets/images/default/{{user.photo}}" alt=""></div>
         <div class="table__user">
            <div class="table__user-name">{{user.name}}</div>
         </div>
      </div>
   </td>
   <td>
      <div class="table__container">
         <div class="table__email"><a class="table__link" href="mailto:{{user.email}}" target="_blank" >{{user.email}}</a></div>
      </div>
   </td>
   <td>
      <div class="table__container">
         {% for role in user.roles %}
            {% if loop.last %}{{role}}{% else %}{{role}}, {% endif %}
         {% endfor %}
      </div>
   </td>
   <td>
      <div class="table__container">
         <button class="button button--alt button--secondary button--dropdown" type="button" data-toggle="dropdown"><i data-feather="settings" class="icon-feather"></i></button>
         <div class="dropdown-menu">
            <a href="./user-detail.html" class="dropdown-item"><i data-feather="eye" class="icon-feather icon-feather--dark"></i> View</a>
            <a href="./user-edit.html" class="dropdown-item"><i data-feather="edit" class="icon-feather icon-feather--dark"></i> Edit</a>
            <a href="#" class="dropdown-item dropdown-item--danger"><i data-feather="x-circle" class="icon-feather icon-feather--dark icon-feather--danger"></i> Delete</a>
         </div>
      </div>
   </td>
</tr>
{% endfor %}