<form class="form" novalidate>
   <div class="tab-pane__top">
      <h2 class="tab-pane__title">
         <i class="icon-feather" data-feather="compass"></i><span>General Settings</span>
      </h2>
   </div>
   <div class="row row--space-bottom">
      <div class="col-12 col-xl-3">
         <div class="form__column">
            <div class="form__image">
               <div class="image-wrapper">
                  <img src="{{BASE_HREF}}assets/images/default/img-cp-logo-example.png" alt="logo-cyberprimatama">
                  <!-- Image Default -->
                  <!--<img src="{{BASE_HREF}}assets/images/default/img-placeholder-add-logo.jpg" alt="image-placeholder-add-logo">-->
               </div>
            </div>
            <div class="button-upload mb-3">
               <!-- If no-image was found, change button to "Upload Logo" insted of "Update" -->
               <button type="button" class="button button--primary button--alt button--outline button--block mb-2 js-upload-button">Update Logo</button>
               <input type="file" accept="image/*" class="file-upload hide-default">
            </div>
            <p class="small"><strong>Take note:</strong><br/>Maximum File image dimension: 300x300 px</p>
         </div>
      </div>
      <div class="col-12 col-xl-9">
         <div class="row">
            <div class="col-12">
               <div class="form__column">
                  <h4 class="form__title">Basic Information</h4>
                  <div class="form-group">
                     <label for="fname">Company Name</label>
                     <input id="fname" name="fname" class="form-control" placeholder="Your Company Name" value="Cyberindo Primatama" data-toggle="count" data-length="50" required>
                     <div class="invalid-feedback">You forgot filled your Company Name</div>
                     <div class="valid-feedback">Looks Great</div>
                  </div>
                  <div class="form-group">
                     <label for="fname">Representative Email</label>
                     <input id="fname" name="fname" class="form-control" value="brian.pranata@cyberprimatama.co.id" required>
                     <div class="invalid-feedback">You forgot filled your Company Name</div>
                     <div class="valid-feedback">Looks Great</div>
                  </div>
                  <div class="form-group">
                     <label for="space">Hosting Space *</label>
                     <div class="d-flex flex-md-wrap justify-content-between">
                        <input id="space" name="space" type="number" class="form-control w50" value="500" required>
                        <select class="form-control w50" id="unit">
                           <option value="">Select Unit</option>
                           <option value="MB" selected>MB</option>
                           <option value="GB">GB</option>
                           <option value="TB">TB</option>
                        </select>
                     </div>
                     <div class="invalid-feedback">Please Select your Role</div>
                  </div>
               </div>
            </div><!-- /.inner-col-12 -->
         </div><!-- /.inner-row -->
      </div><!-- /.col-12 -->
   </div><!-- /.row -->
   <div class="row row--space-bottom">
      <div class="col-12">
         <div class="form__column">
            <h4 class="form__title">Contact Information</h4>
            <div class="form-group">
               <label for="phone">Phone</label>
               <input id="phone" name="phone" placeholder="Format Phone ex. 02129964900" class="form-control phone" data-toggle="count" data-length="11" required>
               <div class="invalid-feedback">Input your correct phone number, start with [CODE AREA][NUMBERS]</div>
               <div class="valid-feedback">Looks Great</div>
            </div>
            <div class="form-group">
               <label for="fax">Fax</label>
               <input id="fax" name="fax" placeholder="Format Phone ex. 02129964900" class="form-control phone" data-toggle="count" data-length="11" required>
               <div class="invalid-feedback">Input your correct fax number, start with [CODE AREA][NUMBERS]</div>
               <div class="valid-feedback">Looks Great</div>
            </div>
            <div class="form-group">
               <label for="c_email">Corporate Email *</label>
               <input id="c_email" name="c_email" type="email" class="form-control" placeholder="Your valid E-mail address" data-toggle="count" data-length="50" value="webdev@cyberprimatama.co.id" required>
               <div class="invalid-feedback">Invalid Email Address, you Dipshit</div>
               <div class="valid-feedback">Looks Great</div>
            </div>
         </div>
      </div><!-- /.inner-col-12 -->
   </div>
   <div class="row">
      <div class="col-12">
         <div class="form__column">
            <h4 class="form__title">Additional Information</h4>
            <div class="form-group">
               <label for="sitename">Company Sitename*</label>
               {# <div class="form__field-count"><span>0</span> chars</div> #}
               <input id="sitename" name="sitename" class="form-control" placeholder="Your Great Company" value="Cyberindo Primatama" data-toggle="count" data-length="50" required>
               <div class="invalid-feedback">Company Sitename must not be blank</div>
            </div>
            <div class="form-group">
               <label for="content_id">Company Address</label>
               <textarea id="content_id" name="content_id" class="form-control summernote" data-toggle="count" data-length="500" required>
<p>Cyber 2 Tower 33rd Floor<br/>
Jl. HR Rasuna Said X5 No. 13<br/>
Jakarta Selatan, 12950 Tel. +62 21 29964900<br/>
Fax. +62 21 5742481</p>
               </textarea>
               <div class="invalid-feedback">Your Company address must not empty</div>
            </div>
            <div class="form-group d-flex align-items-center py-2">
               <div class="form__desc">
                  <p class="form__desc-title">Set Browse Cache Limit</p>
                  <p class="form__desc-subtitle">Sample information about browser cache, default was null</p>
               </div>
               <div class="form__actions">
                  <div class="toggle-switch">
                     <label>
                        <input type="checkbox" name="isHomepage" value="true" class="form-check-input"/>
                        <span class="toggle-switch__box">
                           <span class="toggle-switch__switcher"></span>
                        </span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="form-group d-flex align-items-center py-2">
               <div class="form__desc">
                  <p class="form__desc-title">Set as Default</p>
                  <p class="form__desc-subtitle">Primary information about your company</p>
               </div>
               <div class="form__actions">
                  <div class="toggle-switch">
                     <label>
                        <input type="checkbox" name="isDefaultInfo" value="true" class="form-check-input" checked/>
                        <span class="toggle-switch__box">
                           <span class="toggle-switch__switcher"></span>
                        </span>
                     </label>
                  </div>
               </div>
            </div>
            <div class="form-group d-flex align-items-center py-2">
               <div class="form__desc">
                  <p class="form__desc-title">Admin Themes</p>
                  <p class="form__desc-subtitle">Set Themes for Company Login Member/Admin Area</p>
               </div>
               <div class="form__actions">
                  <div class="toggle-switch">
                     <select class="form-control" id="themes-option">
                        <option value="">Select Themes</option>
                        <option value="MB" selected>Light</option>
                        <option value="GB">Dark</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>
      </div><!-- /.col-12 -->
   </div><!-- /.row -->
   <div class="row pt-3">
      <div class="col-12">
         <div class="d-flex justify-content-end flex-wrap">
            <a href="{{BASE_HREF}}dashboard.html" class="button button--alt button--hollow mr-2 mb-2">Cancel</a>
            <button type="submit" class="button button--alt button--primary js-button-submit">Save Settings</button>
         </div>
      </div>
   </div><!-- /.row -->
</form>