<div class="row row--footer">
   <div class="col">
      <p>&copy; Copyright 2017. Cyberindo Primatama. All Rights Reserved.</p>
   </div>
   <div class="col">
      <p class="text-right">Powered by <a href="#">PENA Systems</a></p>
   </div>
</div> 