{# <!-- build:js assets/scripts/app.js --> #}
{# <script src="{{BASE_HREF}}assets/scripts/jquery/jquery.min.js"></script>
<script src="{{BASE_HREF}}assets/scripts/air-datepicker/js/datepicker.min.js"></script>
<script src="{{BASE_HREF}}assets/scripts/air-datepicker/js/i18n/datepicker.en.js"></script>
<script src="{{BASE_HREF}}assets/scripts/bootstrap/js/bootstrap.bundle.js"></script>
<script src="{{BASE_HREF}}assets/scripts/chart.js/Chart.bundle.js"></script>
<script src="{{BASE_HREF}}assets/scripts/datatables.net/js/jquery.dataTables.js"></script>
<script src="{{BASE_HREF}}assets/scripts/feather-icons/feather.min.js"></script>
<script src="{{BASE_HREF}}assets/scripts/jquery.nicescroll/jquery.nicescroll.js"></script>
<script src="{{BASE_HREF}}assets/scripts/prismjs/prism.js"></script>
<script src="{{BASE_HREF}}assets/scripts/summernote/summernote-lite.js"></script>
<script src="{{BASE_HREF}}assets/scripts/waypoints/lib/noframework.waypoints.js"></script>
<script src="{{BASE_HREF}}assets/scripts/simpleweather/jquery.simpleWeather.js"></script>
<script src="{{BASE_HREF}}temp/scripts/modernizr.js"></script>
<script src="{{BASE_HREF}}temp/scripts/App.js"></script> #}
{# <!-- endbuild --> #}

<!-- Vendor Scripts -->
<script src="{{BASE_HREF}}assets/scripts/modernizr/modernizr.js"></script>
<script src="{{BASE_HREF}}assets/scripts/jquery/jquery.min.js"></script>
<script src="{{BASE_HREF}}assets/scripts/bootstrap/js/bootstrap.bundle.js"></script>
<script src="{{BASE_HREF}}assets/scripts/feather-icons/feather.min.js"></script>
<script src="{{BASE_HREF}}assets/scripts/jquery.nicescroll/jquery.nicescroll.js"></script>
<script src="{{BASE_HREF}}assets/scripts/prismjs/prism.js"></script>
{# <script src="{{BASE_HREF}}assets/scripts/waypoints/lib/noframework.waypoints.js"></script> #}

<!-- Scripts by CP -->
<script src="{{BASE_HREF}}assets/scripts/components/global.js"></script>
<script src="{{BASE_HREF}}assets/scripts/components/sample-button.js"></script>
