<!-- build:css assets/styles/styles.css -->
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/animate.css/animate.css" />
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/summernote/summernote-lite.css">
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/air-datepicker/css/datepicker.css">
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/datatables.net-dt/css/jquery.dataTables.css" />
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/prismjs/themes/prism.css">
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/select2/css/select2.min.css">
<link rel="stylesheet" href="{{BASE_HREF}}assets/styles/flatpickr/flatpickr.min.css">
<link rel="stylesheet" href="{{BASE_HREF}}temp/styles/style.css">
<!-- endbuild -->